<?xml version="1.0" encoding="UTF-8"?>

<launch>


 
 <arg name="world_file" default="$(find rtab)/world/rtab.world"/>
 
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
 
 <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>
  
<node name="spawn_robo" pkg="gazebo_ros" type="spawn_model" args="-file $(find rtab)/urdf/trail_robo_rtab2.urdf -urdf -z 1 -model trail_robo_rtab2" />

 <include file="$(find rtab)/launch/rtab.launch"/>

 </launch>
